@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply w-full max-w-1440 mx-auto px-5
  }

  .main-link {
    @apply font-medium bg-brColor text-white py-2 px-5 rounded-lg duration-200
  }

  .hamburger {
    @apply w-4 h-0.5 rounded-full bg-black
  }

  .NavLink {
    @apply text-base font-bold
  }

  .cost {
    @apply inline-block font-semibold text-brColor text-xl
  }
  .carta {
    @apply w-[150px] py-5  bg-gray-200 rounded-lg justify-center
  }
}

nav a.active {
  @apply text-brColor
}

nav a:hover {
  @apply text-black duration-100 opacity-60
}
body {
  transition: all 0.5s; 
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  transition: opacity 0.5s ease; 
  opacity: 0; 
}
.swiper-button-next{
  padding-right: 20px;
}
.swiper-button-prev{
  padding-left: 20px;
}

:is(.swiper-button-next, .swiper-button-prev)::after {
  font-size: 20px;
  background-color: #fff;
  padding:20px 25px;
  border-radius: 50%;
  color: #000;
}

.swiper:hover :is(.swiper-button-next, .swiper-button-prev) {
  opacity: 1;
}
.brend{
  width: 90px;
  height: 100px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
}

.swi :is(.swiper-button-next, .swiper-button-prev){
  display: none;
}
.brend-still {
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
}
.swiper-container {
  width: 100%;
  margin:auto; /* Chapga ko'chirish uchun centerlash */
}
