@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply w-full max-w-1440 mx-auto px-5
  }

  .main-link {
    @apply font-medium bg-brColor text-white py-2 px-5 rounded-lg duration-200
  }

  .hamburger {
    @apply w-4 h-0.5 rounded-full bg-black
  }

  .NavLink {
    @apply text-base font-bold
  }
  .cost {
    @apply inline-block font-semibold text-brColor text-xl
  }
}

/* 
@layer base {
  a {
    @apply 
  }
}  */

nav a.active {
  @apply text-brColor
}

nav a:hover {
  @apply text-black duration-100 opacity-60
}



h3 {
  font-size: 18px;
  font-weight: 700;

}
h4 {
  font-size: 14px;
  font-weight: 700;
}

.swiper-button-prev::after {
  font-size: 25px;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 50%;
  color: #000;
  margin-left: 20px;
}

.swiper-button-next::after {
  font-size: 25px;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 50%;
  color: #000;
  margin-right: 20px;
}