@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply w-full max-w-1440 mx-auto px-5
  }
  .main-link{
    @apply font-medium bg-brColor text-white py-2 px-5 rounded-lg duration-200 
  }
  .hamburger{
    @apply w-4 h-0.5  rounded-full bg-black  
  }
}
/* 
@layer base {
  a {
    @apply 
  }
}  */


nav a.active{
  @apply text-brColor 
}
nav a:hover{
  @apply  text-black duration-100 opacity-60
}
